.list {
    margin-top: 160px;
    position: relative;
  }
  
  .add {
    padding: 12px 30px;
    background-color: #f4cf5d;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12pt;
    color: white;
    outline: none;
    float: right;
    margin-right: 220px;
    font-weight: bold;
    z-index: 1100;
  }
  
  .add:active {
    background-color: #c79e21;
  }
  
  .list-item {
    margin-top: 100px;
    width: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flood-color: aqua;
  }
  