form {
    position: relative;
  }
  
  #search {
    position: absolute;
    width: 60%;
    left: 50%;
    padding: 20px 50px;
    border-radius: 50px;
    border: 0;
    box-shadow: 0px 2px 6px #cccccc;
    transform: translateX(-50%);
    font-size: 15pt;
    outline: none;
    overflow: hidden;
  }
  
  #search::placeholder {
    color: #cccccc;
    font-weight: bold;
  }